In [28]:
import pandas as pd
import numpy as np

In [32]:
# Load Data
df = pd.read_csv("../data_p3/df_orders.csv")
df_test = pd.read_csv("../data_p3/df_test.csv")
display(df)

,order_id,origin_port,3pl,customs_procedures,logistic_hub,customer,product_id,units,late_order,weight,material_handling,distance_port_hub,distance_hub_customer,distance_total,is_direct_shippment,prob_prod_late
0,366c7a3d298f,Rotterdam,v_002,DTP,Venlo,Marseille,1692723,583,True,1778.0,5.0,130.0459,902.0420,1032.0879,0,0.2
1,45f906331e10,Rotterdam,v_004,CRF,Rome,Marseille,1644308,459,False,1088.0,3.0,1269.2365,604.0216,1873.2581,0,0.1
2,ac84a6e4af0f,Athens,v_002,CRF,Venlo,Paris,1684170,464,True,505.0,4.0,2029.5726,392.9249,2422.4975,0,0.2
3,f5e98cb29790,Rotterdam,v_004,CRF,Lille,Milan,1620510,678,False,1308.0,4.0,173.9644,733.8784,907.8428,0,0.1
4,a9e7c9bee35b,Barcelona,v_002,CRF,Venlo,Berlin,1699372,353,False,1465.0,0.0,1153.4178,512.8188,1666.2366,0,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114271,3f4b15fb770e,Rotterdam,v_002,CRF,Dusseldorf,Bordeaux,1681376,645,False,1896.0,3.0,177.3075,896.2065,1073.5140,0,0.4
114272,d2e6978a38fd,Barcelona,v_004,DTD,Dusseldorf,Berlin,1676942,502,False,746.0,1.0,1149.4065,477.3717,1626.7782,0,0.2
114273,b88babd5c7bd,Rotterdam,v_002,DTP,Dusseldorf,Rome,1692737,464,False,572.0,5.0,177.3075,1125.0290,1302.3365,0,0.2
114274,b0b5c761613f,Barcelona,v_003,DTD,Dusseldorf,Munich,1699974,388,False,1894.0,1.0,1149.4065,487.5926,1636.9991,0,0.3
114275,1ab8e51519e4,Rotterdam,v_002,DTD,Venlo,Bucharest,1620510,482,False,1308.0,4.0,130.0459,1672.4754,1802.5213,0,0.1

In [33]:
# Clean df dataset

df = df.drop(['product_id','order_id'],axis=1)
df = df.dropna()

df = pd.get_dummies(df, columns=['origin_port', '3pl', 'customs_procedures', 'logistic_hub', 'customer', 'material_handling'])

df['late_order']=df['late_order'].astype(int)

df['late_order_t'] = df['late_order']
df=df.drop(['late_order'],axis=1)

In [23]:
# Clean test dataset
df_test = df_test.drop(['product_id','order_id'],axis=1)
df_test = df_test.dropna()
df_test.loc[df_test['weight'].isna(),'weight']=1303

df_test = pd.get_dummies(df_test, columns=['origin_port', '3pl', 'customs_procedures', 'logistic_hub', 'customer', 'material_handling'])

KeyError: "['product_id', 'order_id'] not found in axis"

In [24]:
display(df)
display(df_test)

,units,weight,distance_port_hub,distance_hub_customer,distance_total,is_direct_shippment,prob_prod_late,origin_port_Athens,origin_port_Barcelona,origin_port_Rotterdam,...,customer_Turin,customer_Valencia,customer_Vienna,material_handling_0.0,material_handling_1.0,material_handling_2.0,material_handling_3.0,material_handling_4.0,material_handling_5.0,late_order_t
0,583,1778.0,130.0459,902.0420,1032.0879,0,0.2,0,0,1,...,0,0,0,0,0,0,0,0,1,1
1,459,1088.0,1269.2365,604.0216,1873.2581,0,0.1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,464,505.0,2029.5726,392.9249,2422.4975,0,0.2,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,678,1308.0,173.9644,733.8784,907.8428,0,0.1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,353,1465.0,1153.4178,512.8188,1666.2366,0,0.1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114271,645,1896.0,177.3075,896.2065,1073.5140,0,0.4,0,0,1,...,0,0,0,0,0,0,1,0,0,0
114272,502,746.0,1149.4065,477.3717,1626.7782,0,0.2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
114273,464,572.0,177.3075,1125.0290,1302.3365,0,0.2,0,0,1,...,0,0,0,0,0,0,0,0,1,0
114274,388,1894.0,1149.4065,487.5926,1636.9991,0,0.3,0,1,0,...,0,0,0,0,1,0,0,0,0,0
114275,482,1308.0,130.0459,1672.4754,1802.5213,0,0.1,0,0,1,...,0,0,0,0,0,0,0,1,0,0

,units,weight,distance_port_hub,distance_hub_customer,distance_total,is_direct_shippment,prob_prod_late,origin_port_Athens,origin_port_Barcelona,origin_port_Rotterdam,...,customer_Stockholm,customer_Turin,customer_Valencia,customer_Vienna,material_handling_0.0,material_handling_1.0,material_handling_2.0,material_handling_3.0,material_handling_4.0,material_handling_5.0
0,477,1974.0,1135.6449,816.0497,1951.6946,0,0.3,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,240,2369.0,1153.4178,512.8188,1666.2366,0,0.6,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,506,850.0,995.7185,1093.9242,2089.6427,0,0.1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,553,2072.0,1269.2365,1183.4477,2452.6842,0,0.4,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,482,357.0,1397.4140,894.1859,2291.5999,0,0.2,0,1,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28558,496,598.0,1984.4370,1290.0187,3274.4557,0,0.2,1,0,0,...,0,0,0,0,0,0,0,0,0,1
28559,577,674.0,414.4489,1235.3496,1649.7985,0,0.2,0,0,1,...,0,0,0,0,0,0,1,0,0,0
28560,483,804.0,130.0459,696.3485,826.3944,0,0.2,0,0,1,...,0,0,0,0,0,0,0,0,0,1
28561,564,1085.0,2153.5800,733.8784,2887.4584,0,0.1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
28562,462,372.0,1269.2365,810.5965,2079.8330,0,0.4,0,0,1,...,0,0,0,0,0,0,0,0,1,0