In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
import numpy as np

In [47]:
df = pd.read_csv('C:/Users/jordi/Documents/GitHub/SupplyChainResilience-Datathon-2022-UPC/JOINED_DATA/df_joined.csv')

In [48]:
df=df.drop(['order_id'],axis=1)

In [49]:
df = pd.get_dummies(df, columns=['origin_port', 'X3pl', 'customs_procedures', 'logistic_hub', 'customer', 'material_handling'])

In [50]:
df['late_order']=df['late_order'].astype(int)

In [51]:
df

,product_id,units,weight,distance_port_hub,distance_hub_customer,distance_total,late_order,origin_port_Athens,origin_port_Barcelona,origin_port_Rotterdam,...,customer_Stockholm,customer_Turin,customer_Valencia,customer_Vienna,material_handling_0.0,material_handling_1.0,material_handling_2.0,material_handling_3.0,material_handling_4.0,material_handling_5.0
0,1692723,583,1778.0,130.0459,902.0420,1032.0879,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,1644308,459,1088.0,1269.2365,604.0216,1873.2581,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,1684170,464,505.0,2029.5726,392.9249,2422.4975,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1620510,678,1308.0,173.9644,733.8784,907.8428,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1699372,353,1465.0,1153.4178,512.8188,1666.2366,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114271,1681376,645,1896.0,177.3075,896.2065,1073.5140,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
114272,1676942,502,746.0,1149.4065,477.3717,1626.7782,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
114273,1692737,464,572.0,177.3075,1125.0290,1302.3365,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
114274,1699974,388,1894.0,1149.4065,487.5926,1636.9991,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
114275,1620510,482,1308.0,130.0459,1672.4754,1802.5213,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [52]:
df.to_csv('df_models.csv', index=False)